################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Neodyum/.vs/Neodyum/v17
/.vs
/.vs/Neodyum/v17
/.vs/Neodyum/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/Neodyum
/Neodyum/.vs/Neodyum/FileContentIndex
/Neodyum/.vs/Neodyum/FileContentIndex/81c4bbd3-165e-4dc0-a818-3d42211768a6.vsidx
/Neodyum/Neodyum/x64/Debug/Neodyum.tlog
/Neodyum/Neodyum/x64/Debug/Neodyum.tlog/Cl.items.tlog
/Neodyum/Neodyum/x64/Debug/Neodyum.tlog/link.secondary.1.tlog
/Neodyum/x64/Debug/Neodyum.pdb
/Neodyum/x64/Debug/Neodyum.pdb
